@model IEnumerable<Threddit.Models.Post>
@{
    ViewData["Title"] = "Home Page";
}

<div id="posts-container">
@foreach (var post in Model)
{
        <a asp-controller="Post" asp-action="Details" asp-route-id="@post.Id" class="post-link p-3 pt-1 pb-1 rounded">
            <h4>@post.Title</h4>
            <div class="d-flex justify-content-start flex-wrap">
                <p class="mb-2 me-3 w d-flex align-items-center"><i class="fa-solid fa-user-tie me-2"></i>@post.CreatedBy</p>
                <p class="mb-2 d-flex align-items-center">
                    <i class="fa-solid fa-calendar-day me-2"></i>
                    @post.CreatedAt.ToShortDateString() @post.CreatedAt.ToShortTimeString().PadLeft(8, '0')
                </p>
            </div>
            <div>
                <p class="mb-2">
                 @{
                    string trimmedBody = post.Body.Length > 100 ? post.Body.Substring(0, 100) + "..." : post.Body;
                    @trimmedBody
                 }
                </p>
                @* <a asp-controller="Post" asp-action="Details" asp-route-id="@post.Id">View Post</a> *@
            </div>
        </a>
        <hr class="mt-2 mb-2"/>
}
</div>